@model QLVinpearl_63130803.Models.HOADON

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <br />
    <h3>Bạn có chắc chắn muốn xoá hoá đơn này không?</h3>
    <br />
    <p><span class="fw-bold">Mã hoá đơn</span><br /><span>@Html.DisplayFor(model => model.maHD)</span></p>
    <p><span class="fw-bold">Tên khách hàng</span><br /><span>@Html.DisplayFor(model => model.KHACHHANG.hoTenKH)</span></p>
    <p><span class="fw-bold">Ngày thanh toán</span><br /><span>@Html.DisplayFor(model => model.ngayThanhToan)</span></p>
    <p><span class="fw-bold">Số điện thoại</span><br /><span>@Html.DisplayFor(model => model.SDT)</span></p>
    @using (Html.BeginForm("Delete", "HOADONs_63130803", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="m-auto">
            <input class="btn btn-primary btn-lg" type="submit" value="Xoá" />
            @Html.ActionLink("Quay Về", "Index", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    }
</div>
